<h6>{{ fiche.name }}</h6>
<p>{{ fiche.descriptif }}</p>
<table class="table table-sm">
    <caption>
        {% if listeinterves|length > 1 %}
            {{ listeinterves|length }} enregistrements
        {% else %}
            {{ listeinterves|length }} enregistrement
        {% endif %}
    </caption>
    <thead>
    <tr>
        <th><input type="checkbox" id="checkAll"></th>
        <th class="col-4">Nom de l'intervention</th>
        <th class="col-3">Auteur</th>
        <th>Départ</th>
        <th>Fin</th>
        <th>Ecart</th>
        <th>Coût HT</th>
        <th>Coût TTC</th>
        <th class="col-1">...</th>
    </tr>
    </thead>
    <tbody>
    {% set cumul = date('1900/01/01') %}
    {% for listeinterve in listeinterves %}
        {% set diffHour = date(listeinterve.finishedAt|date('H:i')).diff(date(listeinterve.startedAt|date('H:i'))) %}
        <tr class="align-middle">
            <td><input type="checkbox" value="{{ listeinterve.id }}" name="checkInterventions" {% if listeinterve.isInvoiced %}disabled{% endif%}></td>
            <td>
                <div class="d-flex justify-content-between">
                    <p class="mb-0"> <a href="#">{{ listeinterve.name }}</a></p>
                    {% if listeinterve.isInvoiced %}<p class="mb-0"><span class="badge text-bg-primary">facturée</span></p> {% endif%}
                </div>
            </td>
            <td>{{ listeinterve.author.firstName }} {{ listeinterve.author.lastName }}</td>
            <td>{{ listeinterve.startedAt ? listeinterve.startedAt|date('H:i') : '' }}</td>
            <td>{{ listeinterve.finishedAt ? listeinterve.finishedAt|date('H:i') : '' }}</td>
            <td>{{ listeinterve.timelaps|date('%Hh%I') }}</td>
            <td>{{ listeinterve.volume }} €</td>
            <td>{{ listeinterve.volume * listeinterve.ficheservice.tva}} €</td>
            <td>
                <a href="{{ path('app_admin_intervention_show', {'id': listeinterve.id}) }}"><i class="fa-duotone fa-money-check"></i></a>
                <a id="btnEditIntervention" class="btnEditIntervention" href="{{ path('app_admin_intervention_edit', {'id': listeinterve.id}) }}" ><i class="fa-duotone fa-money-check-pen"></i></a>
                <a id="btnDupliIntervention" href="{{ path('app_admin_intervention_duplicate', {'id': listeinterve.id}) }}"><i class="fa-duotone fa-clone"></i></a>
            </td>
        </tr>
        {% set cumul = cumul.sub(diffHour) %}
    {% else %}
        <tr>
            <td colspan="9">Aucune intervention enregistré pour ce service</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        {% set total = date(cumul|date('H:i')).diff(date('1900/01/01')) %}
        <tr>
            <th class="text-end" colspan="4">Temps réalisé sur le projet :</th>
            <td>{{ total|date('%Hh%I') }}</td>
            <td colspan="4"></td>
        </tr>
    </tfoot>
</table>

