<a href="{{path('app_gestapp_invoice_new', {'idFiche':idficheservice})}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newInvoice" >Facture</a>

<table class="table table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Nom de l'intervention</th>
        <th>Auteur</th>
        <th>Départ</th>
        <th>Fin</th>
        <th>Ecart</th>
        <th>Crée le</th>
        <th>Mise à jour</th>
        <th>...</th>
    </tr>
    </thead>
    <tbody>
    {% set cumul = date('1900/01/01') %}
    {% for listeinterve in listeinterves %}
        {% set diffHour = date(listeinterve.finishedAt|date('H:i')).diff(date(listeinterve.startedAt|date('H:i'))) %}
        <tr class="align-middle">
            <td><input type="checkbox" value="{{ listeinterve.id }}" name="checkInterventions"></td>
            <td>{{ listeinterve.name }}</td>
            <td>{{ listeinterve.author.firstName }} {{ listeinterve.author.lastName }}</td>
            <td>{{ listeinterve.startedAt ? listeinterve.startedAt|date('H:i') : '' }}</td>
            <td>{{ listeinterve.finishedAt ? listeinterve.finishedAt|date('H:i') : '' }}</td>
            <td>{{ listeinterve.timelaps|date('%Hh%I') }}</td>
            <td>{{ listeinterve.createdAt ? listeinterve.createdAt|date('Y-m-d') : '' }}</td>
            <td>{{ listeinterve.updatedAt ? listeinterve.updatedAt|date('Y-m-d') : '' }}</td>
            <td>
                <a href="{{ path('app_admin_intervention_show', {'id': listeinterve.id}) }}">show</a>
                <a href="{{ path('app_admin_intervention_edit', {'id': listeinterve.id}) }}">edit</a>
            </td>
        </tr>
        {% set cumul = cumul.sub(diffHour) %}
    {% else %}
        <tr>
            <td colspan="8">Aucune intervention enregistré pour ce service</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        {% set total = date(cumul|date('H:i')).diff(date('1900/01/01')) %}
        <tr>
            <th class="text-end" colspan="4">Temps réalisé sur le projet :</th>
            <td>{{ total|date('%Hh%I') }}</td>
            <td colspan="3"></td>

        </tr>
    </tfoot>
</table>

