{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-4">
            <h4>Information sur le serveur</h4>
            <hr>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.name, 'Name', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom de la société'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-4">
                    <b>{{ form_label(form.os, 'Os', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-8">
                    {{ form_widget(form.os, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.Role, 'Role', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.Role, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.ResUrl, 'Res url', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.ResUrl, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4>Spécificité technique</h4>
            <hr>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.cfgProc, 'Cfg proc', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.cfgProc, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.cfgMem, 'Cfg mem', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.cfgMem, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.cfgDrive, 'Cfg drive', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.cfgDrive, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4>Détails</h4>
            <hr>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b>{{ form_label(form.ResMac, 'Res mac', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-9">
                    {{ form_widget(form.ResMac, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'00:00:00:00:00:00'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-4">
                    <b>{{ form_label(form.ResInt, 'Adresse Ip Int / ext', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-4">
                    {{ form_widget(form.ResInt, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'interne'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.resExt, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'externe'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-4">
                    <b>{{ form_label(form.portFtp, 'Port : ftp / ssh', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-2">
                    {{ form_widget(form.portFtp, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'FTP'}}) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.portSsh, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'SSH'}}) }}
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-3">
                    <b></b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <a class="btn btn-sm btn-secondary" href="{{ path('admin_server_index') }}"><i class="fas fa-angle-double-left"></i></a> <button type="submit" class="btn btn-sm btn-primary">Ajouter</button>
</div>
{{ form_end(form) }}
