{% extends 'base.html.twig' %}

{% block title %}Index server{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Liste des serveurs</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Processeur</th>
                                <th>Mémoire</th>
                                <th>Stockage</th>
                                <th>Ip Interne</th>
                                <th>Ip externe</th>
                                <th>Adresse MAC</th>
                                <th>Url</th>
                                <th>Rôle</th>
                                <th>Système d'éxploitation</th>
                                <th>Port ssh</th>
                                <th>Port ftp</th>
                                <th>Contrat</th>
                                <th>Créé le</th>
                                <th>modifié le</th>
                                <th>Services</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for server in servers %}
                            <tr>
                                <td>{{ server.id }}</td>
                                <td>{{ server.name }}</td>
                                <td>{{ server.cfgProc }}</td>
                                <td>{{ server.cfgMem }}</td>
                                <td>{{ server.cfgDrive }}</td>
                                <td>{{ server.ResInt }}</td>
                                <td>{{ server.resExt }}</td>
                                <td>{{ server.ResMac }}</td>
                                <td>{{ server.ResUrl }}</td>
                                <td>{{ server.Role }}</td>
                                <td>{{ server.os }}</td>
                                <td>{{ server.portSsh }}</td>
                                <td>{{ server.portFtp }}</td>
                                <td>{{ server.contrat }}</td>
                                <td>{{ server.createdAt ? server.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ server.updatedAt ? server.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ server.services|length }}</td>
                                <td>
                                    <a href="{{ path('admin_server_show', {'id': server.id}) }}"><i class="far fa-eye"></i></a>
                                    <a href="{{ path('admin_server_edit', {'id': server.id}) }}"><i class="far fa-pencil-alt"></i></a>
                                    <a href="{{ path('admin_server_delete', {'id': server.id}) }}"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="17">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin_server_new') }}">Ajouter un serveur</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}