{% extends 'base.html.twig' %}

{% block title %}Server{% endblock %}

{% block main %}
    <h1>Server</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ server.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ server.name }}</td>
            </tr>
            <tr>
                <th>Processeur</th>
                <td>{{ server.cfgProc }}</td>
            </tr>
            <tr>
                <th>Mémoire</th>
                <td>{{ server.cfgMem }}</td>
            </tr>
            <tr>
                <th>Stockage</th>
                <td>{{ server.cfgDrive }}</td>
            </tr>
            <tr>
                <th>Ip Interne</th>
                <td>{{ server.ResInt }}</td>
            </tr>
            <tr>
                <th>Ip Externe</th>
                <td>{{ server.resExt }}</td>
            </tr>
            <tr>
                <th>MAC</th>
                <td>{{ server.ResMac }}</td>
            </tr>
            <tr>
                <th>url</th>
                <td>{{ server.ResUrl }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ server.Role }}</td>
            </tr>
            <tr>
                <th>Système d'éxploitation</th>
                <td>{{ server.os }}</td>
            </tr>
            <tr>
                <th>Port ssh</th>
                <td>{{ server.portSsh }}</td>
            </tr>
            <tr>
                <th>Port ftp</th>
                <td>{{ server.portFtp }}</td>
            </tr>
            <tr>
                <th>Contrat</th>
                <td>{{ server.contrat }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ server.createdAt ? server.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ server.updatedAt ? server.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_server_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_server_edit', {'id': server.id}) }}"></a>

    {{ include('admin/server/_delete_form.html.twig') }}
{% endblock %}
