{% extends 'base.html.twig' %}

{% block title %}Server{% endblock %}

{% block main %}
    <h1>Server</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ server.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ server.name }}</td>
            </tr>
            <tr>
                <th>CfgProc</th>
                <td>{{ server.cfgProc }}</td>
            </tr>
            <tr>
                <th>CfgMem</th>
                <td>{{ server.cfgMem }}</td>
            </tr>
            <tr>
                <th>CfgDrive</th>
                <td>{{ server.cfgDrive }}</td>
            </tr>
            <tr>
                <th>ResInt</th>
                <td>{{ server.ResInt }}</td>
            </tr>
            <tr>
                <th>ResExt</th>
                <td>{{ server.resExt }}</td>
            </tr>
            <tr>
                <th>ResMac</th>
                <td>{{ server.ResMac }}</td>
            </tr>
            <tr>
                <th>ResUrl</th>
                <td>{{ server.ResUrl }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ server.Role }}</td>
            </tr>
            <tr>
                <th>Os</th>
                <td>{{ server.os }}</td>
            </tr>
            <tr>
                <th>PortSsh</th>
                <td>{{ server.portSsh }}</td>
            </tr>
            <tr>
                <th>PortFtp</th>
                <td>{{ server.portFtp }}</td>
            </tr>
            <tr>
                <th>Contrat</th>
                <td>{{ server.contrat }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ server.createdAt ? server.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ server.updatedAt ? server.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_server_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_server_edit', {'id': server.id}) }}"></a>

    {{ include('admin/server/_delete_form.html.twig') }}
{% endblock %}
