{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        <div class="row g-2">
            {{ form_label(form.name, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-3">
                {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.name) }}</small>
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.notes, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.notes, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.notes) }}</small>
                <div class="form-error">
                    {{ form_errors(form.notes) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.hours, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-2">
                {{ form_widget(form.hours, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.hours) }}</small>
                <div class="form-error">
                    {{ form_errors(form.hours) }}
                </div>
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.price) }}</small>
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.author, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.author, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.author) }}</small>
                <div class="form-error">
                    {{ form_errors(form.author) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.startedAt, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-3">
                {{ form_widget(form.startedAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.startedAt) }}</small>
                <div class="form-error">
                    {{ form_errors(form.startedAt) }}
                </div>
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.finishedAt, {'attr': {'class': 'form-control form-control-sm'}}) }}
                <small>{{ form_help(form.finishedAt) }}</small>
                <div class="form-error">
                    {{ form_errors(form.finishedAt) }}
                </div>
            </div>
        </div>



        <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>&nbsp;&nbsp;<a class="btn btn-outline-dark" href="{{ path('app_admin_statut_index') }}">Retour à la liste</a>
    </div>
</div>
</div>
{{ form_end(form) }}