{% extends 'base.html.twig' %}

{% block title %}Liste des statuts{% endblock %}

{% block body %}
    <section id="statut_index">
        <div class="container">
            <div class="row title mt-4 mb-4">
                <div class="col-12">
                    <h1 class="text-center">Liste des statuts</h1>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><i class="fa-solid fa-folder"></i> Identifiant</th>
                        <th><i class="fa-solid fa-tag"></i> Nom</th>
                        <th><i class="fa-duotone fa-file-lines"></i> Notes</th>
                        <th><i class="fa-duotone fa-euro-sign"></i> Prix</th>
                        <th><i class="fa-duotone fa-clock"></i> Heures</th>
                        <th><i class="fa-duotone fa-user"></i> Auteur</th>
                        <th><i class="fa-duotone fa-clock"></i> Début</th>
                        <th><i class="fa-duotone fa-clock"></i> Fin</th>
                    </tr>
                </thead>
                <tbody>
                {% for statut in statuts %}
                    <tr>
                        <td>{{ statut.id }}</td>
                        <td>{{ statut.name }}</td>
                        <td>{{ statut.notes }}</td>
                        <td>{{ statut.price }}</td>
                        <td>{{ statut.hours }}</td>
                        <td>{{ statut.author }}</td>
                        <td>{{ statut.startedAt }}</td>
                        <td>{{ statut.finishedAt }}</td>
                       <td>
                            <a href="{{ path('app_admin_statut_show', {'id': statut.id}) }}">Voir</a>
                            <a href="{{ path('app_admin_statut_edit', {'id': statut.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn" href="{{ path('app_admin_statut_new') }}"><i class="fa-duotone fa-file-signature"></i> Crée un statut</a>
        </div>
    </section>
{% endblock %}
