<nav class="navbar navbar-expand-lg bg-body-tertiary barre_navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('op_admin_dashboard') }}"><img class="img-fluid" src= "{{ asset('/images/logo_openpixl.png') }}" alt="Logo OpenPixl" style="width: 50px;"><a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link barre_navigation" href="{{ path('op_admin_dashboard') }}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation" href="{{ path('app_admin_service_index') }}"><i class="fas fa-tachometer-alt"></i> Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation " href="{{ path('app_admin_statut_index') }}"><i class="fas fa-tachometer-alt"></i> Statut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation " href="{{ path('app_admin_client_index') }}"><i class="fas fa-tachometer-alt"></i> Client</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-desktop"></i> Site
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>