<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('op_admin_dashboard') }}"><img class="img-fluid" src= "{{ asset('/images/logo_openpixl.png') }}" alt="Logo OpenPixl" style="width: 50px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link barre_navigation" href="{{ path('op_admin_dashboard') }}"><i class="fa-duotone fa-grid-horizontal"></i> Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation" href="{{ path('app_admin_service_index') }}"><i class="fa-duotone fa-folder-open"></i> Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation " href="{{ path('app_admin_intervention_index') }}"><i class="fa-solid fa-battery-three-quarters"></i> Intervention</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link barre_navigation " href="{{ path('app_admin_client_index') }}"><i class="fa-duotone fa-user"></i> Client</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link btn_logout" href="{{ path('op_security_logout') }}"><i class="fa-duotone fa-arrow-right-from-bracket"></i> Déconnexion</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>