{{ form_start(form) }}

<script>
    window.onload = function() {

        // I . on sélectionne le select
        const clienttype = document.getElementById('client_typeclient')
        // 2. sur le select on récupère la valeur sur le "OnChange"
        clienttype.addEventListener('change', function(event){
            if(clienttype.value == 1){
                document.getElementById("director").removeAttribute('style')
                document.getElementById("siret_siren").removeAttribute('style')
                document.getElementById("activity_pro").removeAttribute('style')
                document.getElementById("tva").removeAttribute('style')
            }else if(clienttype.value == 2){
                document.getElementById("director").style.display = "none"
                document.getElementById("siret_siren").style.display = "none"
                document.getElementById("activity_pro").style.display = "none"
                document.getElementById("tva").style.display = "none"
            }else if(clienttype.value == 3){
                document.getElementById("director").removeAttribute('style')
                document.getElementById("siret_siren").removeAttribute('style')
                document.getElementById("activity_pro").removeAttribute('style')
                document.getElementById("tva").removeAttribute('style')
            }
        })
    }
</script>


<div class="card">
    <div class="card-body">
        <div class="row g-2">
            {{ form_label(form.typeclient, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-duotone fa-book-open-cover"></i></span>
                    {{ form_widget(form.typeclient, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
                <small>{{ form_help(form.typeclient) }}</small>
                <div class="form-error">
                    {{ form_errors(form.typeclient) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.name, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.name) }}</small>
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    {{ form_widget(form.surname, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.surname) }}</small>
                <div class="form-error">
                    {{ form_errors(form.surname) }}
                </div>
            </div>
        </div><div id="director" class="row g-2" style="display:none;">
            {{ form_label(form.director, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-tag"></i></span>
                    {{ form_widget(form.director, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.director) }}</small>
                <div class="form-error">
                    {{ form_errors(form.director) }}
                </div>
            </div>
        </div>
        <div id="siret_siren" class="row g-2" style="display:none;">
            {{ form_label(form.siren, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-tag"></i></span>
                    {{ form_widget(form.siren, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.siren) }}</small>
                <div class="form-error">
                    {{ form_errors(form.siren) }}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-tags"></i></span>
                    {{ form_widget(form.siret, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.siret) }}</small>
                <div class="form-error">
                    {{ form_errors(form.siret) }}
                </div>
            </div>
        </div>
        <div id="activity_pro" class="row g-2" style="display:none;">
            {{ form_label(form.activityPro, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-chart-network"></i></span>
                    {{ form_widget(form.activityPro, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.activityPro) }}</small>
                <div class="form-error">
                    {{ form_errors(form.activityPro) }}
                </div>
            </div>
        </div>
        <div id="tva" class="row g-2" style="display:none;">
            {{ form_label(form.tva, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-circle-dollar"></i></span>
                    {{ form_widget(form.tva, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.tva) }}</small>
                <div class="form-error">
                    {{ form_errors(form.tva) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.address, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                    {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.address) }}</small>
                <div class="form-error">
                    {{ form_errors(form.address) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.postalCode, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-globe"></i></span>
                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.postalCode) }}</small>
                <div class="form-error">
                    {{ form_errors(form.postalCode) }}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-city"></i></span>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.city) }}</small>
                <div class="form-error">
                    {{ form_errors(form.city) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.email, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.email) }}</small>
                <div class="form-error">
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            {{ form_label(form.phone, "", {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
                <small>{{ form_help(form.phone) }}</small>
                <div class="form-error">
                    {{ form_errors(form.phone) }}
                </div>
            </div>
        </div>
        <button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>&nbsp;&nbsp;<a class="btn btn-outline-secondary" href="{{ path('app_admin_client_index') }}">Retour à la liste</a>
    </div>
</div>
{{ form_end(form) }}