{{ form_start(form) }}
<div class="form-row">
    <div class="col">
        <div class="form-group row">
            {{ form_label(form.nameSociety, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.nameSociety) }}
                <small>{{ form_help(form.nameSociety) }}</small>
                <div class="form-error">
                    {{ form_errors(form.nameSociety) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
