{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        window.onload = function(){
            // PARTIE Suppression d'un cliant en Javascript
            // -----------------------------------------
            // I. Déclaration des éléments utile à la fonction
            const modalSupprClient = document.getElementById('Suppr')

            // II. Ouverture de la modale d'édition
            modalSupprClient.addEventListener('show.bs.modal', function (event) {
                // Récupération du bouton cliqué et extraction de la variable transmise dans le data-bs-whatever
                let button = event.relatedTarget
                let idclient = button.getAttribute('data-bs-whatever')

                // on va chercher le controlleur qui va supprimer le client
                axios
                    .get('/admin/client/addonclient/' + idclient )
                    .then(function (response) {
                        const liste = document.getElementById('').innerHTML = response.data.liste;

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                // mise à jour du lien de soumission du formulaire.
                let modalSubmit = modalAddonClient.querySelector('.modal-footer a')
                modalSubmit.href = '/admin/ficheservice/addonclient/' + idclient
            })

            // active ou désactive l'utilisateur sélectionné de la plateforme
            function onClickBtnIsFavori(event){
                event.preventDefault();
                const url = this.href;                                          // variable qui récupère l'url inclus dans le "this"
                const icone = this.querySelector('i');
                axios
                    .get(url)
                    .then(function(response) {
                        if(icone.classList.contains('fa-check-circle')) {
                            icone.classList.replace('fa-check-circle', 'fa-times-circle');
                            icone.classList.replace('text-success', 'text-danger');
                        }
                        else {
                            icone.classList.replace('fa-times-circle', 'fa-check-circle');
                            icone.classList.replace('text-danger', 'text-success');
                        }
                    });
            }
            // Evènement sur le bouton js-verified
            document.querySelectorAll('a.isfavori').forEach(function (link){
                link.addEventListener('click', onClickBtnIsFavori);
            })

            // Ajout d'un évènement sur le click de suppression service
            document.querySelectorAll('a.btnSupprService').forEach(function (link) {
                link.addEventListener('click', btnSupprService);
            })
        }
    </script>
{% endblock %}

{% block content %}
    <section id="client_index">
        <div class="container-fluid">
            <div class="row title mt-4 mb-4">
                <div class="col-12">
                    <h1>Liste des clients</h1>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr class="align-middle">
                            <th><i class="fa-solid fa-folder"></i> Id</th>
                            <th><i class="fa-solid fa-tag"></i> Nom</th>
                            <th><i class="fa-solid fa-location-dot"></i> Adresse</th>
                            <th><i class="fa-duotone fa-city"></i> Ville</th>
                            <th><i class="fa-solid fa-globe"></i> Code postal</th>
                            <th><i class="fa-duotone fa-phone"></i> Téléphone</th>
                            <th><i class="fa-duotone fa-envelope"></i> Email</th>
                            <th>Epingler</th>
                            <th> Voir & Editer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr class="align-middle">
                                <td>{{ client.id }}</td>
                                <td>{{ client.firstname }} {{ client.lastname }}</td>
                                <td>{{ client.address }}</td>
                                <td>{{ client.city }}</td>
                                <td>{{ client.postalCode }}</td>
                                <td>{{ client.phone }}</td>
                                <td>{{ client.email }}</td>
                                <td>
                                    {% if client.isFavori == 1 %}
                                        <a class="isfavori" href="{{ path('app_admin_client_setfavoris', {'id': client.id}) }}"><i class="far fa-check-circle text-success"></i></a>
                                    {% else %}
                                        <a class="isfavori" href="{{ path('app_admin_client_setfavoris', {'id': client.id}) }}"><i class="far fa-times-circle text-danger"></i></a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn" href="{{ path('app_admin_client_show', {'id': client.id}) }}"><i class="fa-duotone fa-eye"></i> Voir</a>
                                    <a class="btn" href="{{ path('app_admin_client_edit', {'id': client.id}) }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a>
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ client.id }}"><i class="fa-duotone fa-pen-to-square"></i> Supprimer </button>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">Enregistrement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-outline-info " href="{{ path('app_admin_client_new') }}"><i class="fa-duotone fa-file-signature"></i> Crée un client</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}