{% extends 'base.html.twig' %}

{% block title %}Index client{% endblock %}

{% block main %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste des clients</h3>
                        <p class="card-text">Il y a actuellement {% if clients|length <= 1 %}{{ clients|length }} client enregistré{% else %} {{ clients|length }} clients enregistrés{% endif %} sur la plateforme</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom de la société</th>
                                <th>Contact</th>
                                <th>Adresse</th>
                                <th>CP / Ville</th>
                                <th>Email</th>
                                <th>Tel Bureau</th>
                                <th>Services</th>
                                <th>Créé le</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td><a href="{{ path('admin_client_show', {'id': client.id}) }}">{{ client.nameSociety }}</a></td>
                                    <td>{{ client.lastName}} {{ client.firstName }}</td>
                                    <td>{{ client.address }}</td>
                                    <td>{{ client.zipcode }} {{ client.city }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.phoneDesk }}</td>
                                    <td>{{ client.services|length }}</td>
                                    <td>{{ client.createdAt ? client.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>{{ client.updatedAt ? client.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>
                                        <a href="{{ path('admin_client_show', {'id': client.id}) }}"><i class="far fa-eye"></i></a>
                                        <a href="{{ path('admin_client_edit', {'id': client.id}) }}"><i class="fas fa-user-edit"></i></a>
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#supprRowModal" class="text-danger" data-bs-whatever="{{ client.id }}, {{ client.nameSociety }}"><i class="far fa-trash-alt"></i></>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {# module de pagintaion hérité de KnpPaginator #}
                        <div class="navigation">
                            {# Ajout du template personnalisé pour la pagination en fin du block #}
                            {{ knp_pagination_render(clients, 'base/pagination.html.twig') }}
                        </div>
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{{ path('admin_client_new') }}">Ajouter un client</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="supprRowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Attention</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer la ligne :</p>
                </div>
                <div class="modal-footer">
                    <a class="js-trash btn btn-sm btn-primary">Supprimer</a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var supprRowModal = document.getElementById('supprRowModal')
        supprRowModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever').split(',')
            var id = recipient[0]
            var name = recipient[1]
            var modalBodyP = supprRowModal.querySelector('.modal-body p')
            var modalFooterA = supprRowModal.querySelector('.modal-footer a')

            modalBodyP.textContent = 'Vous êtes sur le point de supprimer le client suivant : ' + name
            modalFooterA.href = '/admin/client/suppr/'+ id
        })

        // Ecriture de la function en dehors de l'appel.
        function onClickBtnTrash(event)
        {
            event.preventDefault();     // Stop tout effet sur la page
            const url = this.href;      // récupère l'url stocké sur la balise a
            var Toast = new bootstrap.Toast(document.querySelector('#toast'), {
                autohide: false
            });
            axios
                .get(url)
                .then(function(response)
                {
                    Toast.show();
                    alert(response.data.message);
                })
        }

        // Appel de la fonction lors du clic sur le bouton Ismenu
        document.querySelectorAll('a.js-trash').forEach(function (link){
            link.addEventListener('click', onClickBtnTrash);

        })

    </script>
{% endblock %}
