{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <section id="client_show">
        <div class="container">
            <div class="row title mt-4 mb-4">
                <div class="col-12">
                    <h1 class="text-center">Client</h1>
                    <br>
                    <div class="text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <br>
                        <h4>{{ client.typeclient }}</h4>
                        <div class="card-body text-start">
                            <p><i class="fa-solid fa-user"></i> <b>Nom & Prénom</b> : {{ client.name }} {{ client.surname }}</p>
                            <p><i class="fa-solid fa-location-dot"></i> <b>Adresse</b> : {{ client.address }}</p>
                            <p><i class="fa-solid fa-city"></i> <b>Ville</b> : {{ client.city }}</p>
                            <p><i class="fa-solid fa-globe"></i> <b>Code postal</b> : {{ client.postalCode }}</p>
                            <p><i class="fa-solid fa-phone"></i> <b>Téléphone</b> : {{ client.phone }}</p>
                            <p><i class="fa-solid fa-envelope"></i> <b>Email</b> : {{ client.email }}</p>
                            <p><i class="fa-duotone fa-clock"></i> <b>Crée le</b> : {{ client.createdAt ? client.createdAt|date('Y-m-d') : '' }}</p>
                            <p><i class="fa-duotone fa-clock"></i> <b>Mise à jour</b> : {{ client.updatedAt ? client.updatedAt|date('Y-m-d') : '' }}</p>
                            <a class="btn" href="{{ path('app_admin_client_edit', {'id': client.id}) }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card text-center">
                        <div class="row">
                            <div class="col-md-12 mt-3 mb-3">
                                <button class="btn create_service" data-bs-toggle="modal" data-bs-target="#newservice"><i class="fa-light fa-file-lines"></i> Ajouter un service</button>
                            </div>
                        </div>
                    {{ render(controller('App\\Controller\\Admin\\ServiceController::listServicesByClient', {'idclient': client.id})) }}
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <br><br>
                        <a class="btn" href="{{ path('app_admin_client_index') }}"><i class="fa-solid fa-left-to-line"></i> Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

        <!-- Modal -->
        <div class="modal fade" id="newservice" tabindex="-1" aria-labelledby="newservice" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un nouveau service</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ render(controller('App\\Controller\\Admin\\ServiceController::newonclient', {'idclient': client.id})) }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}