{{ form_start(form) }}
    <div class="row justify-content-between custom-line">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><i class="fa-regular fa-location-dot"></i> Adresse</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>{{invoice.refCustomer.firstName}} {{invoice.refCustomer.lastName}}</b>
                        <br/>
                        <a href="https://www.google.com/maps/search/?api=1&query={{invoice.refCustomer.address}},+{{invoice.refCustomer.postalCode}}+{{invoice.refCustomer.city}}">
                        {{invoice.refCustomer.address}}
                            <br/>{{invoice.refCustomer.postalCode}} {{invoice.refCustomer.city}}
                        </a>
                        <br/>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><i class="fa-regular fa-address-book"></i> Contact</h6>
                </div>
                <div class="card-body">
                    <i class="fa-regular fa-at"></i> <a href="mailto:{{invoice.refCustomer.email}}">{{invoice.refCustomer.email}}</a><br/><i class="fa-regular fa-phone"></i><a href="tel:{{invoice.refCustomer.phone}}">{{invoice.refCustomer.phone}}</a>
                </div>
            </div>
        </div>
            <div class=" col-2">
                <div class="form-group form-control-sm">
                    {{ form_widget(form) }}                                   
                </div>
            </div>
        
    </div>
    <div class="row mt-2">
        <div class="col-12">
        <h6><b>Objet :</b> {{fiche.name}}</h6>
        <h6><b>Descriptif :</b> {{fiche.descriptif}}</h6>
    </div>
        <div class="col-12">

            <table class="table table-sm">
                {% set total_ht = 0 %}
                {% set total_ttc = 0 %}
                {% set total_heure = 0 %}
                <tr>
                    <th>
                        {% if interventions|length > 1 %}
                            Interventions réalisées
                        {% else %}
                            Intervention réalisée
                        {% endif %}
                    </th>
                    <th>Nombre d'heure</th>
                    <th>Quantité</th>
                    <th>Montant HT</th>
                    <th>Montant TTC</th>
                </tr>
                {% set cumul = date('1900/01/01') %} 
                {% for intervention in interventions %}
                    {% set total_ht = total_ht + intervention.volume %}
                    {% set total_ttc = total_ht * intervention.ficheservice.tva %}
                    {% set diffHour = date(intervention.finishedAt|date('H:i')).diff(date(intervention.startedAt|date('H:i'))) %}
                    {% set cumul = cumul.sub(diffHour) %}
                    <tr>
                        <td>{{ intervention.name }}</td>
                        <td>{{ intervention.timelaps|date('%Hh%I') }}</td>
                        <td>
                        
                            {% if intervention.ficheservice.priceHour is not null %}
                                {{ intervention.ficheservice.priceHour }}€/h
                            {% endif %}
                        </td>
                        <td>
                            {% if intervention.ficheservice.priceHour is not null %}
                                {{ intervention.volume }}€
                            {% endif %}
                        </td>
                        <td>
                            {% if intervention.ficheservice.tva is not null and intervention.volume is not null %}
                                {{ intervention.volume * (intervention.ficheservice.tva)|round(1, 'floor') }}€
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="5">Pas d'interventions réalisée sur ce service.</td></tr>
                {% endfor %}

                {% set total = date(cumul|date('H:i')).diff(date('1900/01/01')) %}
                <tr>
                    <td class="text-end">TOTAL</td>
                    <td><b>{{ total|date('%Hh%I') }}</b></td>
                    <td></td>
                    <td><b>{{ total_ht }}€</b></td>
                    <td><b>{{ total_ttc|round(2, 'ceil') }}€</b></td>
                </tr>
                </table>
                <div class="col-md-4 text-right">
                {% if fiche.tva is not null %}
                Taux de TVA appliquée : {{ (fiche.tva * 100 - 100)|round(0, 'floor') }} %
                {% endif %}
                </div>

        <div class="row justify-content-between">
            <div class="col-12 mt-5 ">
                <div class="row">
                    <div class="col-10">
                        <h2>MONTANT DE LA FACTURE</h2>
                    </div>
                    <div class="col-2">
                        <h2>{{ total_ttc|round(2, 'ceil') }} <i class="fa-regular fa-euro-sign"></i></h2>
                    </div>
                </div>
            </div>
        </div>
        </div>  

{{ form_end(form) }}
