{{ form_start(form) }}
    <div class="row ">
        <div class="col-3">
        {{invoice.refCustomer.nameStructure}} <br/>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><i class="fa-regular fa-location-dot"></i>Adresse</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{invoice.refCustomer.firstName}} {{invoice.refCustomer.lastName}} <br/> {{invoice.refCustomer.address}} <br/>{{invoice.refCustomer.postalCode}} {{invoice.refCustomer.city}} <br/></p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><i class="fa-regular fa-address-book"></i>Contact</h6>
                </div>
                <div class="card-body">
                    <p class="card-text"><i class="fa-regular fa-at"></i> {{invoice.refCustomer.email}}<br/><i class="fa-regular fa-phone"></i> {{invoice.refCustomer.phone}} <br/></p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-3">
            <div class="form-group form-control-sm">
                {{ form_widget(form) }}                                   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-3">
        <p>{{fiche.name}}</p>
        <p>{{fiche.descriptif}}</p>
        </div>
    </div>
    {{dump(invoiceItems)}}
{{ form_end(form) }}
