{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="align-middle">
                <td class="col-md-4 table-light">{{ form_label(form.typeclient) }}</td>
                <td class="col-md-4">{{ form_widget(form.typeclient, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
                {% if app.request.attributes.get('_route') == 'app_admin_client_edit' %}
                    <td class="col-md-4"><input id="typeClientVal" type="hidden" value="{{ client.typeclient.isFormCompleted }}"></td>
                {% else %}
                    <td class="col-md-4"><input id="typeClientVal" type="hidden" value="0"></td>
                {% endif %}
            </tr>
            <tr><th colspan="3">INFORMATION CONTACT</th></tr>
            <tr>
                <td class="table-light"><i class="fa-solid fa-user"></i> {{ form_label(form.firstName) }}</td>
                <td>{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }} </td>
                <td>{{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
            </tr>
            <tr>
                <td class="table-light"><i class="fa-solid fa-location-dot"></i> {{ form_label(form.address) }}</td>
                <td>{{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm'}}) }} </td>
                <td></td>
            </tr>
            <tr>
                <td class="table-light"><i class="fa-solid fa-user"></i> {{ form_label(form.postalCode) }}</td>
                <td>{{ form_widget(form.postalCode, {'attr': {'class': 'form-control form-control-sm'}}) }} </td>
                <td>{{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
            </tr>
            <tr>
                <td class="table-light"><i class="fa-duotone fa-envelope"></i> {{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }} </td>
                <td></td>
            </tr>
            <tr>
                <td class="table-light"><i class="fa-duotone fa-envelope"></i> {{ form_label(form.phone) }}</td>
                <td>{{ form_widget(form.phone, {'attr': {'class': 'form-control form-control-sm'}}) }} </td>
                <td></td>
            </tr>
            <tr>
                <th colspan="3">INFORMATION SOCIETE</th>
            </tr>
            <tr id="nameStructure" style="display: none;">
                <td class="table-light">{{ form_label(form.nameStructure) }}</td>
                <td>
                    {{ form_widget(form.nameStructure, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td>{{ form_errors(form.nameStructure) }}</td>
            </tr>
            <tr id="surnameStructure">
                <td class="table-light">{{ form_label(form.surnameStructure) }}</td>
                <td>
                    {{ form_widget(form.surnameStructure, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td>{{ form_errors(form.surnameStructure) }}</td>
            </tr>

            <tr id="logo" style="display: none;">
                <td class="table-light">{{ form_label(form.logoFile) }}</td>


                {% if client.logoName is not null %}
                <td>
                    {{ form_widget(form.logoFile, {'attr': {'class': 'form-control form-control-sm', 'style':'display:none;'}}) }}
                    <div class="col-9 offset-2">
                        <img class="img-fluid" src="{{ asset('images/logos/' ~ client.logoName) }}" alt="{{ client.logoName }}">
                    </div>
                </td>
                <td>
                    {% if app.request.attributes.get('_route') == 'app_admin_client_edit' %}
                    <div class="text-center col-8">
                        {{ form_label(form.isSupprLogo, "Supprimer le logo ") }}
                        {{ form_widget(form.isSupprLogo) }}
                    </div>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    {{ form_widget(form.logoFile, {'attr': {'class': 'form-control form-control-sm'}}) }}

                </td>
                <td>
                    <div class="col-sm-3" style="display: none;">
                        {{ form_label(form.isSupprLogo, "Supprimer le logo") }}
                        {{ form_widget(form.isSupprLogo, {'attr': {'style': 'display:none;'}}) }}
                    </div>
                </td>
                {% endif %}
            </tr>
            <tr id="director" style="display: none;">
                <td class="table-light">{{ form_label(form.director) }}</td>
                <td>
                    {{ form_widget(form.director, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td>{{ form_errors(form.director) }}</td>
            </tr>
            <tr id="siret_siren" style="display: none;">
                <td class="table-light">{{ form_label(form.siren) }}</td>
                <td>
                    {{ form_widget(form.siren, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td>{{ form_widget(form.siret, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
            </tr>
            <tr id="activity_pro" style="display: none;">
                <td class="table-light">{{ form_label(form.activityPro) }}</td>
                <td>
                    {{ form_widget(form.activityPro, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td></td>
            </tr>
            <tr id="tva" style="display: none;">
                <td class="table-light">{{ form_label(form.tva) }}</td>
                <td>
                    {{ form_widget(form.tva, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td></td>
            </tr>
        </table>

        <button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>&nbsp;&nbsp;<a class="btn btn-outline-secondary" href="{{ path('app_admin_client_index') }}">Retour à la liste</a>
    </div>
</div>
{{ form_end(form) }}