{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Tableau de bord</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Clients</h2>
                        <p>{{ clients|length }}</p>
                        <p><i class="fas fa-user-tie"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Services</h2>
                        <p>{{ services|length }}</p>
                        <p><i class="fas fa-concierge-bell" size="2"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Serveurs</h2>
                        <p>{{ servers|length }}</p>
                        <p><i class="fas fa-concierge-bell" size="2"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Factures</h2>
                        <p>{{ factures|length }}</p>
                        <p><i class="fas fa-concierge-bell" size="2"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row-card">
            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="fas fa-users"></i>
                    <span class="count-numbers">{{ services|length }}</span>
                    <span class="count-name">Services</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-counter danger">
                    <i class="fas fa-concierge-bell"></i>
                    <span class="count-numbers">599</span>
                    <span class="count-name">Instances</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="fa fa-database"></i>
                    <span class="count-numbers">6875</span>
                    <span class="count-name">Data</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">35</span>
                    <span class="count-name">Users</span>
                </div>
            </div>
        </div>
        {{ render(controller('App\\Controller\\Admin\\ServiceController::listbirtthday')) }}
    </section>
{% endblock %}
