{{ form_start(form, {'attr': {'id': 'FormAddonclient'}}) }}
    <table class="table table-sm">
        <tr><th colspan="3">INFORMATION </th></tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.name) }}</td>
            <td class="col-md-4">{{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.descriptif) }}</td>
            <td class="col-md-4">{{ form_widget(form.descriptif, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.service) }}</td>
            <td class="col-md-4">{{ form_widget(form.service, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.engagement) }}</td>
            <td class="col-md-4">{{ form_widget(form.engagement) }}</td>
        </tr>
        <tr class="align-middle">
            <td>{{ form_label(form.choicePrice) }}</td>
            <td>
                {{ form_widget(form.choicePrice) }}
            </td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.package) }}</td>
            <td class="col-md-4">{{ form_widget(form.package, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.priceBundle) }}</td>
            <td class="col-md-4">{{ form_widget(form.priceBundle, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.priceHour) }}</td>
            <td class="col-md-4">{{ form_widget(form.priceHour, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.tva) }}</td>
            <td class="col-md-4">{{ form_widget(form.tva, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
        </tr>
        <tr class="align-middle">
            <td class="col-md-4 table-light">{{ form_label(form.statut) }}</td>
            <td class="col-md-4">{{ form_widget(form.statut, {'attr': {'class': 'form-select form-select-sm'}}) }}</td>
        </tr>
    </table>
{{ form_end(form) }}
