<div class="row">
    <div class="col-md-12">
        <table class="table">
            <caption>
                {% if listficheservices|length > 1 %}
                    {{ listficheservices|length }} enregistrements
                {% else %}
                    {{ listficheservices|length }} enregistrement
                {% endif %}
            </caption>
            <thead>
            <tr>
                <th></th>
                <th class="col-4"><i class="fa-solid fa-tag"></i> Nom</th>
                <th class="col-2"><i class="fa-duotone fa-box-archive"></i> Engagement</th>
                <th class="col-1">Cout</th>
                <th class="col-2">Etat</th>
                <th class="col-1">Echeance</th>
                <th class="col-1">...</th>
            </tr>
            </thead>
            <tbody>
            {% for ficheservice in listficheservices %}
                <tr class="align-middle">
                    <td><input type="checkbox" value="{{ ficheservice.id }}" id="serv-id"></td>
                    <td>{{ ficheservice.name }} - {{ ficheservice.nameService }}</td>
                    <td>{{ ficheservice.engagement|date('%y') }} {% if ficheservice.engagement|date('%y') > 2%}ans{% else %}an{% endif %}</td>
                    <td>
                        {% if ficheservice.package > 0 %}
                            {{ ficheservice.package }}€
                        {% endif %}
                        {% if ficheservice.priceHour > 0 %}
                            {{ ficheservice.priceHour }}€/heure
                        {% endif %}
                        {% if ficheservice.priceBundle > 0 %}
                            {{ ficheservice.priceBundle }}€
                        {% endif %}
                    </td>
                    <td>{{ ficheservice.statut }}</td>
                    <td>{{ ficheservice.echeance |date('d-m-Y') }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions ...
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href=""><i class="fa-duotone fa-eye"></i> Voir</a></li>
                                <li><a id="editFicheservice" class="dropdown-item" href="{{ path('app_admin_fiche_service_edit', {'id': ficheservice.id}) }}" data-bs-toggle="modal" data-bs-target="#modalServiceonclient" data-bs-whatever="EDIT-Edition du service souscrit-{{ ficheservice.id }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalIntervention" data-bs-whatever="ADD-Ajouter une intervention-{{ ficheservice.id }}"><i class="fa-light fa-file-lines"></i> Ajouter une intervention</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalIntervention" data-bs-whatever="LIST-Liste des interventions-{{ ficheservice.id }}"><i class="fa-light fa-file-lines"></i> Afficher les interventions</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SupprService" data-bs-whatever="{{ ficheservice.id }}"><i class="fa-solid fa-trash"></i> Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="7">0 Enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
