{{ form_start(form, {'attr': {'id': 'FormAddonclient'}}) }}

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-folder"></i></span>
                {{ form_widget(form.service, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
            <small>{{ form_help(form.service) }}</small>
            <div class="form-error">
                {{ form_errors(form.service) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-timer"></i></span>
                {{ form_widget(form.time, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
            <small>{{ form_help(form.time) }}</small>
            <div class="form-error">
                {{ form_errors(form.time) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-duotone fa-circle-dollar"></i></span>
                {{ form_widget(form.price, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
            <small>{{ form_help(form.price) }}</small>
            <div class="form-error">
                {{ form_errors(form.price) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                {{ form_widget(form.statut, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
            <small>{{ form_help(form.statut) }}</small>
            <div class="form-error">
                {{ form_errors(form.statut) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
