<div class="row">
    <div class="col-md-12">
        <table class="table">
            <caption>{{ listficheservices|length }} enregistrement</caption>
            <thead>
            <tr>
                <th></th>
                <th><i class="fa-solid fa-tag"></i> Client</th>
                <th>Engagement</th>
                <th>Forfait</th>
                <th><i class="fa-duotone fa-box-archive"></i> Etat</th>

                <th>création</th>
                <th>Echeance</th>
                <th>...</th>
            </tr>
            </thead>
            <tbody>
            {% for ficheservice in listficheservices %}
                <tr class="align-middle">
                    <td><input type="checkbox" value="{{ ficheservice.id }}"></td>
                    {% if ficheservice.nameStructure is not empty %}
                    <td>{{ ficheservice.nameStructure }}</td>
                    {% else %}
                    <td>{{ ficheservice.firstName }} {{ ficheservice.lastName }}</td>
                    {% endif %}
                    <td>{{ ficheservice.engagement }}</td>
                    <td>{{ ficheservice.package }}</td>
                    <td>{{ ficheservice.statut }}</td>
                    <td>{{ ficheservice.createdAt|date('d-m-Y') }}</td>
                    <td>{{ ficheservice.echeance|date('d-m-Y') }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions ...
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href=""><i class="fa-duotone fa-eye"></i> Voir</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_fiche_service_edit', {'id': ficheservice.id}) }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addstatutonclient" data-bs-whatever="{{ ficheservice.id }}"><i class="fa-light fa-file-lines"></i> Ajouter une intervention</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Listintervonfiche" data-bs-whatever="{{ ficheservice.id }}"><i class="fa-light fa-file-lines"></i> Afficher les interventions</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SupprService" data-bs-whatever="{{ ficheservice.id }}"><i class="fa-solid fa-trash"></i> Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">0 Enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
