{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <section id="dashboard">
        <div class="row title mt-4 mb-4">
            <div class="col-12">
                <h1>Panneau d'administration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="titre_h2 text-center" href="{{ path('app_admin_service_index') }}">Services</a>
                <ul class="start_li">
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_service_index') }}">Afficher les services</a>
                    </li>
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_service_new') }}">Crée un service</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <a class="titre_h2 text-center" href="{{ path('app_admin_statut_index') }}">Statuts</a>
                <ul class="start_li">
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_statut_index') }}">Afficher les statuts</a>
                    </li>
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_statut_new') }}">Crée un statut</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <a class="titre_h2 text-center" href="{{ path('app_admin_client_index') }}">Clients</a>
                <ul class="start_li">
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_client_index') }}">Afficher les clients</a>
                    </li>
                    <li>
                        <a class="titre_h4 text-center" href="{{ path('app_admin_client_new') }}">Crée un client</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
