{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block content %}
    <section id="dashboard" class="container-fluid">
        <div class="row title mt-4 mb-4">
            <div class="col-6">
                <div class="row g-1 title">
                    <h2>Panneau d'administration</h2>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center" href="{{ path('app_admin_service_index') }}"><i class="fa-duotone fa-folder-open"></i> Services</h3>
                                <div class="card-body">
                                    <ul>
                                        <li><a class="text-center" href="{{ path('app_admin_service_index') }}"><i class="fa-solid fa-list"></i> Afficher les services</a></li>
                                        <li><a class="text-center" href="{{ path('app_admin_service_new') }}"><i class="fa-solid fa-square-plus"></i> Crée un service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center" href="{{ path('app_admin_intervention_index') }}"><i class="fa-solid fa-battery-three-quarters"></i> intervention</h3>
                                <div class="card-body">
                                    <ul>
                                        <li><a class="text-center" href="{{ path('app_admin_intervention_index') }}"><i class="fa-solid fa-list"></i> Afficher les interventions</a></li>
                                        <li><a class="text-center" href="{{ path('app_admin_intervention_new') }}"><i class="fa-solid fa-square-plus"></i> Crée un intervention</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center" href="{{ path('app_admin_client_index') }}"><i class="fa-duotone fa-user"></i> Clients</h3>
                                <div class="card-body">
                                    <ul>
                                        <li><a class="text-center" href="{{ path('app_admin_client_index') }}"><i class="fa-solid fa-list"></i> Afficher les clients</a></li>
                                        <li><a class="text-center" href="{{ path('app_admin_client_new') }}"><i class="fa-solid fa-square-plus"></i> Crée un client</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-1 title">
                    <h2>Favoris</h2>
                    {{ render(controller('App\\Controller\\Admin\\ClientController::showFavoris')) }}
                </div>
            </div>
            <div class="col-6">
                <h2>Liste de prochaines interventions</h2>
            </div>
        </div>
    </section>
{% endblock %}
