{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        <table class="table table-sm">
            <tr>
                <td class="col-sm-4"></td>
                <td class="col-sm-6"></td>
                <td class="col-sm-2"></td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.name) }}</td>
                <td>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
                <td>{{ form_widget(form.code, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.description) }}</td>
                <td colspan="2">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
            </tr>
        </table>
        <button class="btn btn-sm btn-outline-success">{{ button_label|default('Enregistrer') }}</button>&nbsp;&nbsp;<a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_service_index') }}">Retour à la liste</a>
    </div>
</div>
</div>
{{ form_end(form) }}