{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_label(form.name, 'Name', {'label_attr': {'class':'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-10"></div>
    <div class="col-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class':'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-9"></div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
