{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <section id="service_index">
        <div class="container-fluid">
            <div class="row title mt-4 mb-4">
                <div class="col-12">
                    <h1>Liste des services</h1>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><i class="fa-solid fa-folder"></i> Identifiant</th>
                            <th><i class="fa-solid fa-tag"></i> Nom</th>
                            <th><i class="fa-duotone fa-box-archive"></i> Archives</th>
                            <th> Voir & Editer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{{ service.name }}</td>
                                <td>{{ service.archives }}</td>
                                <td>
                                    <a class="btn" href="{{ path('app_admin_service_show', {'id': service.id}) }}"><i class="fa-duotone fa-eye"></i> Voir</a>
                                    <a class="btn" href="{{ path('app_admin_service_edit', {'id': service.id}) }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">Enregistrement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-outline-info" href="{{ path('app_admin_service_new') }}"><i class="fa-duotone fa-file-signature"></i> Crée un service</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
