{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Liste des services</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Archives</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.archives }}</td>
                        <td>{{ service.createdAt ? service.createdAt|date('Y-m-d') : '' }}</td>
                        <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('app_admin_service_show', {'id': service.id}) }}">Voir</a>
                            <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Enregistrement</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn button titre_h4" href="{{ path('app_admin_service_new') }}">Crée un service</a>
        </div>

    </div>

{% endblock %}
