{% extends 'base.html.twig' %}

{% block title %}Index service{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Liste des services</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Crée le</th>
                        <th>Modifié le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {% if service.isActive== 1 %}
                                <a class="js-publish" href="#"><i class="far fa-check-circle text-success"></i></a>
                            {% else %}
                                <a class="js-publish" href="#"><i class="far fa-times-circle text-danger"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_service_show', {'id': service.id}) }}"><i class="far fa-eye"></i></a>
                            <a href="{{ path('admin_service_edit', {'id': service.id}) }}"><i class="far fa-pencil-alt"></i></a>
                            <a href="{{ path('admin_service_delete', {'id': service.id}) }}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_service_new') }}">Ajouter un service</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}