<table class="table">
    <thead>
    <tr>
        <th><i class="fa-solid fa-folder"></i> Identifiant</th>
        <th><i class="fa-solid fa-tag"></i> Nom</th>
        <th><i class="fa-duotone fa-box-archive"></i> Archives</th>
        <th> Voir & Editer</th>
    </tr>
    </thead>
    <tbody>
    {% for service in services %}
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.archives }}</td>
            <td>
                <a class="btn" href="{{ path('app_admin_service_show', {'id': service.id}) }}"><i class="fa-duotone fa-eye"></i> Voir</a>
                <a class="btn" href="{{ path('app_admin_service_edit', {'id': service.id}) }}"><i class="fa-duotone fa-pen-to-square"></i> Editer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">0 Enregistrement</td>
        </tr>
    {% endfor %}
    </tbody>
</table>