{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block main %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nom du service</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Déscription</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_service_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_service_edit', {'id': service.id}) }}"></a>

    {{ include('admin/service/_delete_form.html.twig') }}
{% endblock %}
