{{ form_start(form, {'attr': {'id': 'FormInterventionliste'}}) }}
        <table class="table table-sm">
            <tr>
                <td class="col-sm-3"></td>
                <td class="col-sm-2"></td>
                <td class="col-sm-2"></td>
                <td class="col-sm-5"></td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.name) }}</td>
                <td colspan="2">{{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.description) }}</td>
                <td colspan="3">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.startedAt) }}</td>
                <td>
                    {{ form_widget(form.startedAt, {'attr': {'class': 'form-control form-control-sm'}}) }}

                </td>
                <td>{{ form_widget(form.finishedAt, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                <td></td>
            </tr>
            <tr class="align-middle">
                <th colspan="4">{{ form_label(form.isRecurr) }} {{ form_widget(form.isRecurr) }}</th>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.recurrence) }} </td>
                <td colspan="2">
                    {{ form_widget(form.recurrence, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </td>
                <td></td>
            </tr>
            <tr class="align-middle">
                <td class="table-light">{{ form_label(form.multiple) }}</td>
                <td>
                    {{ form_widget(form.multiple, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </td>
                <td colspan="2"></td>
            </tr>
            {% if app.request.attributes.get('_route') == 'app_admin_intervention_edit' %}
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-sm btn-outline-secondary">Modifier</button></td>
            </tr>
            {% endif %}
        </table>

{{ form_end(form) }}
