{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block content %}
    <section id="client_index" class="container-fluid">
        <div class="row title mt-4 mb-4">
            <div class="col-12">
                <h1>Liste des interventions</h1>
            </div>
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-folder"></i> Id</th>
                            <th><i class="fa-solid fa-tag"></i> Nom</th>
                            <th><i class="fa-sharp fa-regular fa-file-lines"></i> Description</th>
                            <th><i class="fa-duotone fa-clock"></i> Début</th>
                            <th><i class="fa-duotone fa-clock"></i> Fin</th>
                            <th><i class="fa-duotone fa-clock"></i> Delta</th>
                            <th><i class="fa-duotone fa-clock"></i> Crée le</th>
                            <th><i class="fa-duotone fa-clock"></i> Mise à jour</th>
                            <th>Voir & Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set cumul = date('1900/01/01') %}
                    {% for intervention in interventions %}
                        {% set diffHour = date(intervention.finishedAt|date('H:i')).diff(date(intervention.startedAt|date('H:i'))) %}
                        <tr>
                            <td>{{ intervention.id }}</td>
                            <td>{{ intervention.name }}</td>
                            <td>{{ intervention.description|u.truncate(100, ' ...')|raw }}</td>
                            <td>{{ intervention.startedAt ? intervention.startedAt|date('H:i') : '' }}</td>
                            <td>{{ intervention.finishedAt ? intervention.finishedAt|date('H:i') : '' }}</td>
                            <td>{{ intervention.timelaps|date('%Hh%I') }}</td>
                            <td>{{ intervention.createdAt ? intervention.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ intervention.updatedAt ? intervention.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn" href="{{ path('app_admin_intervention_show', {'id': intervention.id}) }}"><i class="fa-duotone fa-eye"></i>Voir</a>
                                <a class="btn" href="{{ path('app_admin_intervention_edit', {'id': intervention.id}) }}"><i class="fa-duotone fa-pen-to-square"></i>Editer</a>
                            </td>
                        </tr>
                        {% set cumul = cumul.sub(diffHour) %}
                    {% else %}
                        <tr>
                            <td colspan="9">Pas d'interventions enregistrés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        {% set total = date(cumul|date('H:i')).diff(date('1900/01/01')) %}
                        <tr>
                            <th class="text-end" colspan="5">Temps réalisé :</th>
                            <td>{{ total|date('%Hh%I') }}</td>
                            <td colspan="3"></td>

                        </tr>
                    </tfoot>
                </table>
                <a class="btn btn-outline-info" href="{{ path('app_admin_intervention_new') }}">Crée une intervention</a>
            </div>
        </div>
    </section>

{% endblock %}
